.Home-Page {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9a1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 66%;
}

.profile-pic {
  border-radius: 50%;
  width: 99px;
  height: 99px;
  margin: 10px auto;
  display: block;
}

.user-details {
  text-align: center;
}

.toggle-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #00ff59;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-button:hover {
  background-color: #16d8a1;
}

.Home-btn{
  background-color: rgba(100, 93, 93, 0.562);
  border: 1px solid;
}

.H-main{
  display: flex;
}
.H-key p{
  /* margin-right: 99%; */
  /* left: 0; */

  
}
.H-Values p{
  font-style: italic;
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  margin-left: 12px;
  margin-right: 99%;
}