.NU-Model-Warper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 5%;
  padding-left: 70%;
  padding-top: 20%;
  border-radius: 3px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(64, 60, 60, 0.582);
  background-color: rgba(38, 36, 36, 0.866);
}

.NU-parent {
  padding: 20px;
  margin: auto;
  background-color: #5c67718e;
  /* background-color: rgb(20, 193, 40); */
  box-shadow: -1px 0px 4px rgba(25, 22, 22, 0.706);
}

.NU-reg-form {
  display: flex;
  flex-direction: row;
  position:absolute
}

.NU-container1 {
  flex: 1;
  float: left;
  gap: 10px;
  margin-right: 2vw;
}
.NU-container2 {
  flex: 1;
  float: right;
}

.NU-label-user {
  font-weight: bold;
}

.NU-reg-heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  margin-left: 1vw;
}

#userType{
  /* background-color: rgba(124, 158, 204, 0.459); */
  font-style: italic;
}

.NU-input-user {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px;
  box-sizing: border-box;
}

.NU-input-user:focus {
  outline: none;
  border-color: #007bff;
}

.NU-error1 {
  color: #dc3545;
  font-size: smaller;
}

.NU-button {
  padding: 10px;
  background-color: #202a36db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5vh;
  width: calc(100% - 8px);
}

button:hover {
  background-color: #0056b3;
}

.alert {
  padding: 15px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  color: #721c24;
  margin-bottom: 10px;
}

.close-btn {
  cursor: pointer;
}

@media (min-width: 768px) {
  .NU-parent {
    max-width: 800px;
  }
}

.ND-close-btn:hover{
  background-color: red;
  
}